
  			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				  <div class="container-fluid">
  					<div class="navbar-header">
              <div class="autocomplete">
  					       <h1 class="logotipo"><img src="/app/img/sol.png" alt="Touristando"></h1>
                   <span *ngFor="let item of refs; let i = index">
                      <template [ngIf]="i > 0">, </template>
                      {{item}}
                   </span>
                   <input class="query" [cdAutocomplete]="inputAutocomplete"
                   (cdAutocompleteUpdate)="updateInputAutocomplete($event)" [(ngModel)]="filterQuery" type="text" placeholder="Nome do local"/>
              </div>
  					  <ul class="nav navbar-nav">
    						<li><a routerLink="/search">Home</a></li>
    						<li><a routerLink="/create">Compartilhar novos lugares</a></li>
                <li><a routerLink="/detail">Lugares cadastrados</a></li>
                <button type="button" class="tn btn-primary" (click)="modal.open()">Sign in</button>
              </ul>
            </div>
				  </div>
				</nav>
			  <router-outlet></router-outlet>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Touristando 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

        <modal (onClose)="closed()" #modal>
         <modal-header [show-close]="true">
             <h4 class="modal-title">Fazer Login</h4>
         </modal-header>
         <modal-body>
             <ul>
               <autentic> </autentic>
             </ul>
             <p *ngIf="selected">Selected: <b>{{ selected }}</b></p>
         </modal-body>
       </modal>
